/* Estilos del Logo */
.logo img {
    height: 30px; /* Ajusta la altura según lo necesites */
}

/* Estilos generales */
body {
    background-color: #F5F5F5; 
    color: #000000; 
    font-family: Arial, sans-serif;
    border: 5px solid #8B4513; /* Borde marrón */
    padding: 20px;
}

/* Estilos para el encabezado */
header {
    background-color: #8B4513; /* Marrón */
    color: #FFFFFF; /* Blanco */
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #FFFFFF; /* Blanco */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilos para los productos */
.container {
    text-align: center; /* Centrar los productos */
}

.producto {
    border: 1px solid #8B4513;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    width: 300px;
    display: inline-block;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto h3 {
    margin-top: 0;
    color: #8B4513; 
}

/* Estilos para el footer */
footer {
    background-color: #8B4513; 
    color: #FFFFFF; 
    text-align: center;
    padding: 20px;
}

.contacto {
    margin-bottom: 20px;
}

.contacto h3 {
    color: #8B4513; 
}

footer p span {
    font-size: 1em; 
    vertical-align: middle;
}

footer p img {
    height: 1em; 
    margin-right: 5px; 
}

footer p {
    font-size: 1em; 
}

/* Estilos para los botones de contacto */
.contact-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.contact-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #8B4513; 
    color: #FFFFFF; 
    text-decoration: none;
    border-radius: 5px;
}

.contact-buttons a:hover {
    background-color: #A0522D; 
}

/* Estilos para la descripción de la empresa */
.descripcion-empresa {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center; 
}

.descripcion-empresa h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.descripcion-empresa p {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

/* Estilos para los datos del dueño y la ubicación */
#dueño,
#ubicacion {
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center; 
    padding: 20px;
}

#dueño h2,
#ubicacion h2 {
    color: #333;
    margin-top: 0;
}

address {
    font-style: normal;
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.6;
}

.address-title {
    font-weight: bold;
}

/* Estilos para el video */
video {
    width: 30%; 
    margin-top: 20px; 
    border-radius: 10px; 
}